<style>
  .person__box-heading {
    margin-left: unset !important;
  }
  .person__quote-wrapper {
    margin-top: unset !important;
  }
</style>

<div class="template-1">
  <div class="row">

    <% blocks = @survey.categories_surveys.includes(:category, category: [:questions]).select{|e| !e.category.questions.pluck(:question_type).include?("Screener")} %>
    <% total = blocks.to_a.size %>
    <% three_ratio = (total/3).ceil %>
    <% first_col = total - three_ratio%>
    <% @sus_block = [] %>
    <div class="col-lg-6 px-2">
      <% blocks.first(first_col).each do |categories_survey| %>
        <% cat = categories_survey.category %>

        <% if cat.display_type.present? %>
          <%if cat.display_type == "system_usability_scale" %>
            <%@sus_block << cat%>
          <%else%>
            <% unless cat.questions.pluck(:question_type).include?("Screener")%>
              <% if params[:display_type_id].present? %>
                <%= render partial: "persona_display_types/#{params[:display_type_id]}/#{cat.display_type}", locals: {cat: cat} %>
              <% else %>
                <%= render partial: "persona_display_types/#{@survey.persona_summary_display_type}/#{cat.display_type}", locals: {cat: cat} %>
              <% end %>
            <%end%>
          <%end%>
        <% end %>

      <% end %>
    </div>



    <div class="col-lg-6 px-2">
      <% blocks.drop(first_col).each do |categories_survey| %>
        <% cat = categories_survey.category %>

        <% if cat.display_type.present? %>
          <%if cat.display_type == "system_usability_scale" %>
            <%@sus_block << cat%>
          <%else%>
            <% unless cat.questions.pluck(:question_type).include?("Screener")%>
              <% if params[:display_type_id].present? %>
                <%= render partial: "persona_display_types/#{params[:display_type_id]}/#{cat.display_type}", locals: {cat: cat} %>
              <% else %>
                <%= render partial: "persona_display_types/#{@survey.persona_summary_display_type}/#{cat.display_type}", locals: {cat: cat} %>
              <% end %>
            <%end%>
          <%end%>
        <% end %>

      <% end %>
    </div>

    <div class="col-lg-12 px-2">
      <%@sus_block.each do |sus_cate|%>
        <% unless sus_cate.questions.pluck(:question_type).include?("Screener")%>
          <% if params[:display_type_id].present? %>
            <%= render partial: "persona_display_types/#{params[:display_type_id]}/#{sus_cate.display_type}", locals: {cat: sus_cate} %>
          <% else %>
            <%= render partial: "persona_display_types/#{@survey.persona_summary_display_type}/#{sus_cate.display_type}", locals: {cat: sus_cate} %>
          <% end %>
        <%end%>
      <%end%>
    </div>
  </div>
</div>