<div class="modal" id="SurveyCloneModal" tabindex="-1" role="dialog" aria-labelledby="SurveyCloneModalLabel">

  <div class="modal-dialog modal-lg modal-dialog-centered cgroup-pop-modal" role="document">
    <div class="modal-content">


      <div class="modal-body">
        <div class="cgroup-pop">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div class="cgroup-pop-header text-center">
            <div class="cgroup-pop-header-title"><%=t 'groups.copy_survey'%></div>
            <div class="cgroup-pop-header-text"><%=t 'groups.youre_about_to_copy'%></div>
          </div>


          <%= simple_form_for(@survey, url: clone_submit_surveys_path, :remote => true ) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="">
              <%#= f.label :title, 'List name' %>
              <%#= f.input :title, label: false, placeholder: '', required: true, focus: true, input_html: { required: true, class: 'input-field__input input--big' } %>
<!--              <span class="text-mutued">Enter the list name here.</span>-->

              <div class="creating-survey__input input--large group-render">
                <label for="survey_group_id" class="input-field__label--email" style="line-height: 35px;"><%=t 'groups.group'%> *</label>
                <%= f.select :group_id, options_for_select($community_account.groups.where(archived: false).pluck(:title, :id), params[:group_id].present? ? params[:group_id] : f.object.group_id), {:include_blank => true, :label => false}, {:required => true} %>
                <small class="input-field__echo--email"><%= t 'groups.copy_survey_groups'%></small>
              </div>

              <%= hidden_field_tag "survey[survey_id]", params[:survey_id]  %>
              <%= hidden_field_tag "survey[template_theme_id]", params[:template_theme_id]  %>
              <%= hidden_field_tag "from_loc", params[:from_loc]  %>
              <%= hidden_field_tag "main_group_id", params[:main_group_id]  %>



            </div>

            <%= f.button :submit, "#{t 'groups.copy_to_group'}", class: 'btn-primary btn-lg px-4 submit', :id=>"survey_copy__button_id"%>

          <% end %>
         <div id="survey_duplicate_loader" class="survery_duplicate_loader_class" style="position:relative;float:left;color:#4CAE9C;display:none;">
            <%=t 'groups.survey_duplicate_processing'%>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
    $('#SurveyCloneModal').modal();
    $('#survey_group_id').SumoSelect({ search: true, searchText: "<%=t 'surveys.search_and_select_groups' %>", placeholder: "<%=t 'surveys.select_one' %>" });
    
    $("#survey_copy__button_id").click(function(){
 	  $('#survey_duplicate_loader').show();
    });

</script>




