<h1>Welcome to Admin Dashboard</h1>

<h4>No of Client Counts: <%=@client_count%></h4>

<h4>No of Users Counts: <%=@users_count%></h4>

<h4>No of Super Admins: <%=@super_admin_count%></h4>

<h4>Total no of Survey Counts: <%=@surveys_count%></h4>

<h4>No of Active Surveys: <%=@active_surveys_count%></h4>

<h4>No of Draft Surveys: <%=@draft_surveys_count%></h4>

<h4>No of Finished Surveys: <%=@finished_surveys_count%></h4>

<h4>Total no of Recipients: <%=@reciepients_count%></h4>

<h4>Total no of New Users in Last Month: <%=@no_of_user_last_month%></h4>

<h4>Total no of Currently Active Users: <%=@currently_signed_in_users%></h4>

<h4>Total no of Users Signed In Today: <%=@no_of_signed_in_users_today%></h4>