<div class="page-container">
  <div class="content-wrapper">




    <!-- right panel -->
    <aside class="left-panel">
      <nav class="wizard-nav">
        <div class="wizard__header">
          <h3 class="wizard__heading">Creating new survey</h3>
          <small class="wizard__note wizard__note--v2">Customer satisfaction<span class="wizard__question">(18 questions)</span></small>
        </div>

        <ul class="wizard__list">
          <li class="wizard__item wizard__item--active">
            <span class="wizard__step-count">1<span class="wizard__step-icon"></span></span>
            <span class="wizard__step-name">Setup</span>
          </li>

          <li class="wizard__item">
            <span class="wizard__step-count">2<span class="wizard__step-icon"></span></span>
            <span class="wizard__step-name">Build</span>
          </li>

          <li class="wizard__item">
            <span class="wizard__step-count">3<span class="wizard__step-icon"></span></span>
            <span class="wizard__step-name">Respondents</span>
          </li>

          <li class="wizard__item">
            <span class="wizard__step-count">4</span>
            <span class="wizard__step-name">Deliver</span>
          </li>
        </ul>
      </nav>

      <!-- right panel slider -->
      <div class="slide-bar" style="display: none;">
        <div class="hide-btn">
          <button><i class="fal fa-times"></i> Close</button>
        </div>

        <div class="add-block">
          <div class="block-title">
            <h4>Add a new block</h4>
            <p>Blocks are the bulding components of the person</p>
          </div>
          <div class="block-item">
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>
            <div class="single-block active">
              <div class="block-inner">
                <a href=""><div class="block-overlay"><i class="fal fa-plus"></i></div></a>
                <%= image_tag 'survey_build/img/user.png' %>
                <span>Block</span>
              </div>
            </div>

          </div>
        </div>

        <div class="bar-question">
          <h4>Edit question</h4>
          <form action="">
            <div class="single-form">
              <span>Type</span>
              <select name="" id="">
                <option value="">Multiple choice</option>
                <option value="">Multiple select</option>
                <option value="">Rating Scale</option>
                <option value="">Checkbox</option>
                <option value="">Comment area</option>
              </select>
            </div>
            <div class="single-form">
              <span>Question</span>
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="single-form">
              <span>Description <b>(Optional)</b></span>
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
          </form>
        </div>
        <div class="choice-text">
          <h4>Choice</h4>
          <div class="single-choice">
            <p>I have hinted that I would</p>
            <i class="fas fa-minus-circle"></i>
          </div>
          <div class="single-choice">
            <p>I have hinted that I would</p>
            <i class="fas fa-minus-circle"></i>
          </div>
          <div class="single-choice">
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would</p>
            <i class="fas fa-minus-circle"></i>
          </div>
          <div class="single-choice">
            <p>I have hinted that I would</p>
            <i class="fas fa-minus-circle"></i>
          </div>
          <div class="single-choice">
            <p>I have hinted that I would often jerk poor Queequeg from between the whale</p>
            <i class="fas fa-minus-circle"></i>
          </div>
          <div class="add-scrween">
            <button><i class="fal fa-plus"></i>Add new block</button>
          </div>
        </div>

        <div class="choice-done-area">
          <div class="check-box">
            <div class="stich-area">
              <div class="switch-box">
                <p>Required</p>
                <ul class="switch_common switch_icon lock d_inline">
                  <li class="lg_switch">
                    <input class="switch" id="switch19" type="checkbox">
                    <label for="switch19"><span class="icon d_block"></span></label>
                  </li>
                </ul>
              </div>
              <div class="switch-txt">

              </div>
            </div>
          </div>
          <div class="last-form">
            <div class="single-form">
              <span>Type of graph</span>
              <select name="" id="">
                <option value="">Pie chart</option>
                <option value="">Multiple select</option>
                <option value="">Rating Scale</option>
                <option value="">Checkbox</option>
                <option value="">Comment area</option>
              </select>
            </div>
          </div>

          <div class="done-btn">
            <a href="">Done</a>
          </div>
        </div>
      </div>


    </aside>








    <!-- Content -->
    <main class="content content--side-short creating-survey">
      <div class="creating-survey__navigation">
        <div class="creating-survey__step-wrapper">
          <span class="creating-survey__step-info">Build</span>
          <small class="creating-survey__step-number">step 1/4</small>
        </div>
        <div class="creating-survey__button-wrapper">
          <a href="#" class="creating-survey__link creating-survey__link--large">Save and exit</a>
          <a href="#" class="creating-survey__link creating-survey__link--large">Exit</a>
        </div>
      </div>
      <div class="creating-survey__content">
        <form action="#" class="creating-survey__form">



          <fieldset class="creating-survey__fieldset">
            <legend class="creating-survey__legend">Survey info</legend>


            <div class="just-collaps-wrapper tab-content" id="v-pills-tabContent">

              <div class="single-tab-item tab-pane show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                <div class="welcome-screen">
                  <h4>Welcome screen</h4>
                </div>

                <div class="accordian-item-area" id="accordion">

                  <div class="single-collaps">
                    <div class="card">
                      <div class="card-header parentcollap" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <h4>
                              <img src="/assets/survey_build/img/user-3380fce3bb3c0aef47b77b4322fc03995dae7e36ed79f1019a4af3e0d95c0d99.png">
                              Demographics
                            </h4>

                            <i class="fal fa-angle-down"></i>
                            <div class="question-number">
                              <a href="">5 questions</a>
                            </div>
                            <div class="reset">
                              <a href="">Reset</a>
                            </div>
                          </button>
                        </h5>
                      </div>

                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                          <div class="child-accordion-area">
                            <div class="single-text-accordion">
                              <p>1. What’s your age group?</p>
                              <i class="fas fa-trash"></i>
                            </div>
                            <div class="single-text-accordion">
                              <p>2. In the tumultuous business of cutting-in and attending?</p>
                              <i class="fas fa-trash"></i>
                            </div>
                            <div class="single-text-accordion">
                              <p>3. I have hinted that I would often jerk poor Queequeg from?</p>
                              <i class="fas fa-trash"></i>
                            </div>
                            <div class="single-text-accordion">
                              <p>4. In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards amon.</p>
                              <i class="fas fa-trash"></i>
                            </div>
                            <div class="single-text-accordion">
                              <p>5. So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a jo?</p>
                              <i class="fas fa-trash"></i>
                            </div>
                            <div class="question-btn">
                              <button>Add new question</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="welcome-screen">
                  <h4>Thank you screen</h4>
                </div>

              </div>

            </div>



            <div class="creating-survey__new-group">
              <a href="#" class="add-scrween creating-survey__new-group-link"><span class="creating-survey__new-group-icon"></span>Add new block</a>
            </div>


            <br>


            <div class="input input-field input--email creating-survey__input">
              <label for="input-field-12" class="input-field__label--email">Title *</label>
              <input type="email" id="input-field-12" class="input-field__input input--big" placeholder="eg. Customer satisfaction">
              <small class="input-field__echo--email">Echo</small>
            </div>

            <div class="creating-survey__input">
              <label for="select-field-1" class="input-field__label--email">Group *</label>
              <div class="select-field input--medium">
                <select id="select-field-1">
                  <option value="" disabled="disabled" selected="selected">Please select</option>
                  <option value="1">sander.k@joola.com</option>
                  <option value="2">sander.klein@zmail.com</option>
                  <option value="3">hello@joola.com</option>
                </select>
              </div>
              <small class="input-field__echo--email">Echo</small>
            </div>

            <br>

            <div class="creating-survey__new-group">
              <a href="#" class="creating-survey__new-group-link"><span class="creating-survey__new-group-icon"></span>Create new group</a>
            </div>

          </fieldset>

          <br>
          <br>

          <fieldset class="creating-survey__fieldset">
            <legend class="creating-survey__legend">Email info</legend>
            <div class="input input-field input--email creating-survey__input">
              <label for="input-field-10" class="input-field__label--email">From name *</label>
              <input type="email" id="input-field-10" class="input-field__input input--big" placeholder="eg. Customer satisfaction">
              <small class="input-field__echo--email">This is the name of the email sender, like your company name</small>
            </div>

            <div class="creating-survey__input">
              <label for="select-field-1" class="input-field__label--email">From email address *</label>
              <div class="select-field input--medium">
                <select>
                  <option value="" disabled="disabled" selected="selected">Please select</option>
                  <option value="1">sander.k@joola.com</option>
                  <option value="2">sander.klein@zmail.com</option>
                  <option value="3">hello@joola.com</option>
                </select>
              </div>
              <small class="input-field__echo--email">This is the email that the survey will be sent from</small>
            </div>

            <div class="input input-field input--email creating-survey__input">
              <label for="input-field-13" class="input-field__label--email">Subject *</label>
              <input type="email" id="input-field-13" class="input-field__input input--extra-big" placeholder="Hi, please help us by filling out this survey and get a 15% discount coupon :)">
              <small class="input-field__echo--email">This is the email subject shown to the respondents</small>
            </div>
          </fieldset>

          <div class="creating-survey__button">
            <button class="btn btn--primary-icon btn--medium-primary-icon">Save and continue<span class="icon-wide-right-small"></span></button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>




<script>
    $('#accordion').sortable({
        handle: 'button',
        cancel: ''
    });

    $('select').SumoSelect({ search: true, searchText: 'Search and select.', selectAll: true });
</script>