<br>
<%= label_tag :state, t('surveys.geographic_location.state') %>
<%= select_tag(
        "submission[data_json][data][#{params[:category_id].to_s}][" + params[:question_id].to_s + "][state]",
        options_for_select(@states),
        class: "form-control form-control-lg survey-answer state#{params[:question_id].to_s}",
        include_blank: true,
        data: {
            remote: true,
            url: get_cities_url(country: params[:country], question_id: params[:question_id].to_s, category_id: params[:category_id].to_s),
            method: 'get'
        }
    ) %>

<div class="cities_render">
  <br>
  <%= label_tag :city, t('surveys.geographic_location.city') %>
  <%= select_tag("submission[data_json][data][#{params[:category_id].to_s}][" + params[:question_id].to_s + "][city]", {}, {disabled: true, class: "form-control form-control-lg survey-answer city#{params[:question_id].to_s}"})  %>
</div>

<script type="text/javascript" charset="utf-8">
    $('.state<%= params[:question_id].to_s %>').SumoSelect({placeholder: '<%= t('surveys.select') %> <%= t('surveys.geographic_location.state') %>', search: true});
    $('.city<%= params[:question_id].to_s %>').SumoSelect({placeholder: '<%= t('surveys.select') %> <%= t('surveys.geographic_location.city') %>'});
</script>