<div class="login-wrap" >
  <div class="row m-0">
    <div class="login-left-block col-md-12">
      <div class="login-logo">
        <%= image_tag("Logo.png") %>
      </div>
      <h4 class="login-to-your-accoun" style="margin-top: 3em;"><%= t('.change_your_password') %></h4>
      <div class="login-form-wrap col-md-4" style="margin-top: 60px;">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= bootstrap_devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <label class="label"><%= t('.new_password') %></label>
            <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'field' %>

            <% if @minimum_password_length %>
              <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
            <% end %>
          </div>

          <div class="form-group">
            <label class="label"><%= t('.confirm_new_password') %></label>
            <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'field' %>
          </div>

          <button class="btn reset-password"><%= t('.change_my_password') %></button>

          <%=link_to :back do %>
            <span class="cancel">Cancel</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



