<p>Hi <strong><%= @account.email  %></strong></p>
<p>Your account has been created in elastic persona</p>
<p>Here is your temporary password to login:</p>
<p><%= @password %></p>
<a href="<%= root_url %>" class="btn btn-success">Login to your account</a>

<p>salut <strong><%= @account.email  %></strong></p>
<p>Votre compte a été créé en elastic persona</p>
<p>Voici votre mot de passe temporaire pour vous connecter:</p>
<p><%= @password %></p>
<a href="<%= root_url %>" class="btn btn-success">Connectez-vous à votre compte</a>
