<div class="<%= background_color %> px-4 px-lg-5 pb-5 pt-4">

  <div class="form-group">

    <label class="survey-question mr-lg-3 pr-lg-5 pb-3 class<%=question_details.id%>"><%= question_title %></label>

    <div class="row">
      <div class="col-md-12">
        <ul class="radio-wizard">

          <% options.each_with_index do |option, index| %>
            <% if option.is_a?(Array) %>

              <li>
                <div class="form-check radio-box p-0">
                  <input class="form-check-input radio-shape-preview b-input" type="radio" name="submission[data_json][data][<%= category_id.to_s %>][<%= question_id.to_s %>]" id="grading<%= question_id.to_s %><%= index.to_s %>"
                         value="<%= option[0] %>" data-branching="<%=question_details.is_branching?%>" data-question="<%=question_id.to_s%>" data-required="<%= question_details.required?%>" data-qtype="3">
                  <label class="form-check-label" for="grading<%= question_id.to_s %><%= index.to_s %>">

                  </label>
                  <span class="checkbox-label rating-label">
              <% if show_labels[index][0] %>
                <%= show_labels[index][1] %>
              <% end %>
            </span>
                </div>
              </li>

            <% else %>

              <li>
                <div class="form-check radio-box p-0">
                  <input class="form-check-input radio-shape-preview b-input" type="radio" name="submission[data_json][data][<%= category_id.to_s %>][<%= question_id.to_s %>]" id="grading<%= question_id.to_s %><%= index.to_s %>"
                         value="<%= option %>" data-branching="<%=question_details.is_branching?%>" data-question="<%=question_id.to_s%>" data-required="<%= question_details.required?%>" data-qtype="3" >
                  <label class="form-check-label" for="grading<%= question_id.to_s %><%= index.to_s %>">

                  </label>
                  <span class="checkbox-label rating-label">
                  <% if show_labels[index][0] %>
                    <%= show_labels[index][1]%>
                  <% end %>
                </span>
                </div>
              </li>

            <% end %>
          <% end %>

        </ul>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
    <%unless !@survey.nil? && @survey.categories_surveys.map { |c| c.category.questions.pluck(:is_branching) }.flatten.any?(true)%>

  $(document).on('submit','form',function(){
   if ('<%=question_details.required?%>' == 'true') {
      var name = $("input[name='submission[data_json][data][<%= category_id.to_s %>][<%= question_id.to_s %>]']:checked").val();
        if(typeof name == 'undefined'){
            if($('div').hasClass('errorsubmission[data_json][data][<%= category_id.to_s %>][<%= question_id.to_s %>]') == false){
            $('.class<%=question_details.id%>').last().after('<div class="errorsubmission[data_json][data][<%= category_id.to_s %>][<%= question_id.to_s %>] text-danger" id="GFG_DIV<%= question_id.to_s%>" style="font-size:15px; padding-bottom:12px;">Required</div>');
          $('.btn-primarybtn').prop('disabled', false);
          return false;
        }
        }
      else {
          if($('div').hasClass('errorsubmission[data_json][data][<%= category_id.to_s %>][<%= question_id.to_s %>]') == true){
            document.getElementById('GFG_DIV<%= question_id.to_s%>').parentNode.removeChild(document.getElementById('GFG_DIV<%= question_id.to_s%>')); 
            $(".errorsubmission[data_json][data][<%= category_id.to_s %>][<%= question_id.to_s %>]").remove();
          }
          $('.btn-primarybtn').prop('disabled', false);
          if ($('body').find('.text-danger').length != 0){
            return false;
          }
          else{
            return true;
          }

      }
      $('html,body').scrollTop(0);
    }
});
<%end%>
    jQuery(document).ready(function () {

        jQuery('#navigation .radio-box .form-check-label').click(function () {
            jQuery('#navigation .radio-box').removeClass('active');
            jQuery(this).parent().addClass('active');
        });

    });
</script>