<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Email from:</strong>
  <%= @survey.email_from %>
</p>

<p>
  <strong>Email sender:</strong>
  <%= @survey.email_sender %>
</p>

<p>
  <strong>Email subject:</strong>
  <%= @survey.email_subject %>
</p>

<p>
  <strong>Delivery end at:</strong>
  <%= @survey.delivery_end_at %>
</p>

<p>
  <strong>Delivery start at:</strong>
  <%= @survey.delivery_start_at %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @survey.delivery_time %>
</p>

<p>
  <strong>Group:</strong>
  <%= @survey.group %>
</p>