<style type="text/css">
  .create_dropdown > .dropdown-menu{
    border: none !important;
  }
  .btn--create{
    padding: 0 6rem !important;
  }
</style>
<div class="sub-header">
  <div class="row ml-0 mr-0">
    <div class="col-lg-6">
      <div class="action-bar__body action-bar__body--v1">
        <h3 class="action-bar__heading action-bar__heading--v1 display-h3"><%=t 'reports.results'%></h3>
        <h3 class="action-bar__sub-heading display-h3"><%= @groups.count %> <span class="icon-search"></span></h3>
      </div>
    </div>
    <div class="col-lg-6">
      <% if policy($community_account).can_add_edit_delete_global? %>
        <%#= button_to "#{t 'reports.create_new_survey'}", choose_template_groups_path(group_id: ""), method: :get, remote: true, class: "btn btn-action-bar--v1 btn--big-primary pull-right" %>
        <div class="dropdown create_dropdown pull-right">
          <button class="btn btn--create btn-action-bar--v1 btn--big-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=t 'dashboard.main_create'%>
          </button>
          <div class="dropdown--btn dropdown-menu border-bottom" aria-labelledby="dropdownMenuButton">
            <%= link_to choose_template_groups_path(group_id: "", type: "persona"), method: :get, remote: true, class: "dropdown-item border-bottom" do %>
                <span><%=t 'personas.create_persona'%></span>
            <% end %>    
            <%= link_to choose_template_groups_path(group_id: "", type: "survey"), method: :get, remote: true, class: "dropdown-item border-bottom " do %>
                <span><%=t 'surveys.create_survey'%></span>
            <% end %>
            <%= link_to new_group_path, method: :get, remote: true, class: "dropdown-item border-bottom " do %>
              <span><%=t 'groups.create_group_dropdown'%></span>
            <% end %>
            <%= link_to new_list_path, method: :get, remote: true, class: "dropdown-item" do %>
                      <span><%=t 'lists.create_list_dropdown'%></span>
                  <% end %>      
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @groups.present? %>

  <div class="content">
    <div class="content-width">
      <div class="section">
        <div class="tool-bar-nav">
          <ul class="tool-bar">
            <li class="tool-bar__item tool-bar__item--active"><a href="#" class="tool-bar__link"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
            <!--            <li class="tool-bar__item"><a href="#" class="tool-bar__link"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>-->
          </ul>
          <div class="filteration-sorting">
            <ul class="filteration">
            </ul>
            <div class="sorting">
              <div class="dropdown">
                <a href="#" class="sorting-dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><%= t 'dashboard.sort_by'%>:</span> <%= t 'dashboard.name'%> <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#"><%= t 'dashboard.email'%></a>
                  <a class="dropdown-item" href="#"><%= t 'dashboard.name'%></a>
                  <a class="dropdown-item" href="#"><%= t 'dashboard.date'%></a>
                  <a class="dropdown-item" href="#"><%= t 'dashboard.user'%></a>
                  <a class="dropdown-item" href="#"><%= t 'dashboard.active'%></a>
                  <a class="dropdown-item" href="#"><%= t 'dashboard.draft'%></a>
                  <a class="dropdown-item" href="#"><%= t 'dashboard.finished'%></a>
                  <a class="dropdown-item" href="#"><%= t 'dashboard.results'%></a>
                  <a class="dropdown-item" href="#"><%= t 'dashboard.customized'%></a>
                </div>
              </div>
            </div>

          </div>
        </div>


        <% @groups.each do |group| %>

          <div class="list-items list-items--company mt-10">
            <div class="list-items__info-wrapper">
              <%= link_to all_report_surveys_path(group) do %>
                <div class="list-items__photo list-items__photo--user border-gray">

                  <% if group.image.attached? %>
                    <%= image_tag group.image %>
                  <% else %>
                    <%= image_tag 'no-img-reports.png' %>
                  <% end %>

                </div>
              <% end %>

              <%= link_to all_report_surveys_path(group) do %>
                <div class="list-items__heading">
                  <h1 class="title-h1"><%= group.title %></h1>
                  <div class="list-items__export">
                    <h3 class="title-h3"><%= t 'surveys.group'%></h3>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="list-items__body">

              <div class="list-items_statistic text-left list-items_statistic_align_170">
                <div class="list-items__item" style="margin:unset">
                  <div class="create-by"><%= t 'groups.created_by'%></div>
                  <span><%= creator_name(group.created_by_id) %></span>
                  <span><%= group.created_at.strftime("%b %d, %Y") %></span>
                </div>
              </div>

              <div class="list-items_statistic">
                <div class="list-items__item">
                  <span><%= group.custom_personas.count %></span>
                  <span><%= t 'reports.customized_personas'%></span>
                </div>

                <div class="list-items__item">
                  <span><%= group.surveys.undeleted_survey.where.not(survey_state: Survey.survey_states.key(0)).count %></span>
                  <span><%= t 'reports.results'%></span>
                </div>
              </div>

              <div class="list-items__buttons">
                <div class="list-items__view list-items__view--company list-add-icon">

                  <%= link_to all_report_surveys_path(group) do %>
                    <%= t 'reports.view_results'%><i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                  <% end %>
                  

                </div>
              </div>

            </div>
          </div>
        <% end %>
        <div class="digg_pagination">
          <form action="<%= reports_path %>" class="r_drop_down">
            <%= t 'will_paginate.rows_per_page'%>:
             <%= select_tag('per_page', options_for_select([["1", 1], ["5", 5], ["10", 10], ["25", 25], ["50", 50]], params[:per_page].blank? ? 10 : params[:per_page] ), onchange: "this.form.submit();")%>
          </form>
          <div class="page_info">
            <%= page_entries_info @groups, :entry_name => 'lists' %>
          </div>
          <%= will_paginate @groups, :container => false , previous_label: "<i class='fa fa-angle-left' aria-hidden='true'></i>".html_safe, next_label: "<i class='fa fa-angle-right' aria-hidden='true'></i>".html_safe, page_links: false%>
        </div>

      </div>
    </div>
  </div>

<% else %>
  <div class="no-result-box-content">
    <div class="no-result-box text-center">
      <%= image_tag 'no-img-reports2.png', class: "mb-10"  %>
      <h2 class="no-result-text-theme mb-30"><%=t 'reports.dont_have_reports'%></h2>
      <% if policy($community_account).can_add_edit_delete_global? %>
        <p class="no-result-text-muted"><%= t 'reports.create_your_first_survey'%></p>
        <%= link_to "#{t 'reports.create_new_survey'}", 'javascript:;', class: "new-survey" %>
      <% end %>
    </div>
  </div>
<% end %>



<% if policy($community_account).can_add_edit_delete_global? %>
  <script type="text/javascript" charset="utf-8">
      $('.new-survey').click(function (event) {
          $.ajax({
              url: "<%= choose_template_groups_url %>",
              type: "get",
              dataType: 'script',
              data: {
                  group_id: $(this).data('id')
              },
              success: function (data) {
              }
          });
      });
  </script>
<% end %>